<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Editor State</title>
    <link rel="stylesheet" href="http://127.0.0.1:8000/static/main.css" />
</head>
<body>
    <script src="http://127.0.0.1:8000/static/main.js" charset="utf-8"></script>
    <div class="header">
        <p>Simple Django Blog</p>
        <div class="nav-links">
            <a href="http://127.0.0.1:8000/reg/">Registration</a>
            <a href="http://127.0.0.1:8000/auth/">Log in</a>
            <a href="http://127.0.0.1:8000/logout">Log out</a>
            <a href="http://127.0.0.1:8000">Main Page</a>
            <a href="http://127.0.0.1:8000/popular/">Popular states</a>
            <a href="http://127.0.0.1:8000/channels/">All channels</a>
            <a href="http://127.0.0.1:8000/studio/">Studio</a>
        </div>
    </div>

    <div>
        <script src="http://127.0.0.1:8000/static/main.js" charset="utf-8">
            
            document.addEventListener('keydown', function(event) {
                if (event.ctrlKey && event.key === 's') {
                    // cancel default action
                    event.preventDefault();
                    //run my code
                    save_state();
            
                }
            });
        </script>

        <img src="http://127.0.0.1:8000/static/plus.jpeg" id="insert_icon" onclick="insert_photo();">
    </div>

    <div contentEditable="true" id="topic">Заголовок</div>
    <div class="editor-wrapper">
        
        <div contentEditable="true" id="editor">Текст статьи</div>
    </div>

    <div>
        <script src="http://127.0.0.1:8000/static/main.js" charset="utf-8"></script>
        <button id="save" onclick="save_state();">
            publicate
        </button>
    </div>
    <script>
        edit_state_data();
    </script>
</body>
</html>
  
