{% extends "base.html" %}
{% block title %}Регистрация{% endblock title %}
{% block content %}
	<form method="POST" action="get_reg/">
	{% csrf_token %}
	<p>Введите логин</p>
	<input name="login" type="text" />
	<p>Введите пароль</p>
	<input name="pswd" type="password"/>
	<p>Введите электронную почту</p>
	<input type="email" name="email" />
	<p>Первое имя</p>
	<input type="text" name="first">
	<p>Второе имя</p>
	<input type="text" name="second">
	<p>
	<input type="submit" value="Зарегистрироваться" />
	</form>
{% endblock content %}