{% extends "base.html" %}
{% block title %}{{topic}}{% endblock title %}
{% block content %}
  <img src='http://127.0.0.1:8000/media/{{img}}' width='30px' height="30px">
  <p>{{author}}</p>
  <span><p>{{date}}</p> <p>{{views}} views</p></span>
  <h3>{{topic | safe}}</h3>
  <div id="text-style">
    {{text | safe}}
  </div>
  <hr>
  <H3>Комментари</H3>
  
  {{edt | safe}}
  <script type="text/">
  	const url = new URL(window.location.href);
  	state_id = url.searchParams.javascriptget('id');
  	comment_block(state_id);

  </script>


  <div id = "block_comments">
    <script >
      insert_comments();
    </script>
    <p>write your comment</p>
    {% csrf_token %}
    <form id="form">
      <input name="text" id="text"/>
      <input type="hidden" name="state_id" value="{{st_id}}" id="state_id" max="32">
      
    </form>
    <button onclick="post_comment();">Post comment</button>
</div>


{% endblock content %}